.login_form,
.register_form {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("img/canManbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.login{
  padding-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form_login_antd,
.form_register_antd {
  width: 80%;
  margin: 0 auto;
}

.main_form_login,
.main_form_register {
  width: 100%;
}

@media screen and (min-width: 575.98px) {
  .form_login_antd {
    transform: translateX(20%);
  }
}

@media screen and (min-width: 767.98px) {
    .form_login_antd {
        transform: translateX(10%);
      }
}

@media screen and (min-width: 991.98px) {
  .form_login_antd {
    transform: translateX(0);
  }
}

@media screen and (max-width: 575.97px) {
  .form_login_antd {
    transform: translateX(20%);
  }
  .btn_login_group{
    width: 50%;
  }
}
